<!DOCTYPE html>
<html lang="en">
<title>::HOME::</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="static/css/w3.css">
<body>
  <div class="w3-container w3-center w3-deep-purple w3-padding-32 w3-animate">
    <h1 class="w3-animate-zoom" style="animation-duration: 2s;">Emotional Health Parametric Test</h1>
  </div>

  <div class="w3-bar w3-amber ">
    <a href="/" class="w3-bar-item w3-button w3-black w3-hover-brown">Home</a>
    <a onclick="document.getElementById('id01').style.display='block'"class="w3-bar-item w3-button w3-right w3-hover-brown">Project Info</a>
    <a href="/login" class="w3-bar-item w3-button w3-right w3-hover-brown">Login</a>
    <div class="w3-dropdown-hover w3-right">
    	<button class="w3-button w3-hover-brown">Register</button>
        <div class="w3-dropdown-content w3-bar-block">
          <a href="/portal" class="w3-bar-item w3-button w3-black">Student Login</a>
          <a href="/teachersign" class="w3-bar-item w3-button w3-black">Teacher Login</a>
        </div>
    </div>
  </div>  
    <div id="id01" class="w3-modal">
          <div class="w3-modal-content w3-card-4 w3-animate-zoom">

            <div class="w3-center"><br>
            <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">×</span>
            </div>
            <div class="w3-container">
                <p class='w3-center'>Designed by Amish Thekke Parambil and Tanmay Salunke<br>
                  Don Bosco Institute of Technology, Kurla<br>
                  Web Framework: Flask<br>
                  Database: MySQL<br><br>
                  Web Page Designing by HTML5, W3.CSS, JavaScript<br><br>
                  Data Analysis and Visualisation using Javascript (AnyChart JS)</p>                  
            </div>
          </div>
    </div>


  <div class="w3-row">
    <div class="w3-col s8 w3-light-gray w3-left w3-padding-large" style="height:500px">
      <h1 class="w3-animate-left" style="animation-duration: 3s">About the Test</h1>
      <p class="w3-animate-left w3-large" style="animation-duration: 3s">This initial quiz is not intended to diagnose you, but it can provide some degree of input about feelings you may be experiencing.  We will score your quiz and provide instant written feedback. There is no financial cost associated with our quizzes, they are simply intended as input into circumstances you may be experiencing. Use the results as information that might be useful in any exploratory next steps you might take. If your results do not indicate high risk of mental discomfort, but you feel there is something going on, please take steps to get more information from the college counsellor.  Keep in mind that trained professionals are really the only people who can effectively assess your particular situation and provide better solutions.</p>
    </div>

    <div class="w3-col s4 w3-sand w3-leftbar w3-left w3-padding-32" style="height:500px">
      <div class="w3-panel w3-sand w3-padding-32">
        <p id="1" class="w3-xxlarge w3-serif w3-animate-right" style="animation-duration: 3s;"><i>"What we achieve inwardly, will change outer reality"</i></p>
        <p id="2" class="w3-animate-right" style="animation-duration: 3s;"><b>-Plutarch</b></p>
      </div>
    </div>
  </div>

  <div class="w3-container w3-center w3-teal w3-bottom">
    <p>Designed and Maintained by Amish and Tanmay<br>
    © copyright DBIT</p>
  </div>
</body>